body{
  background-image: url('https://images.pexels.com/photos/1303092/pexels-photo-1303092.jpeg');
}
.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background-color: #c58686;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  font-family: 'Segoe UI', sans-serif;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2d3436;
}

.form-container input {
  width: 100%;
  padding: 12px 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.form-container button {
  width: 100%;
  padding: 12px;
  background-color: #6c5ce7;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #4834d4;
}
